doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= pageTitle
  body
    h1 Pug - node template engine
    .container
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
